
.flag-menu{
	width: 1.5em;
	height: 1.5em;
}

.dropdown-menu{
	min-width: 0px!important;
}

.nav-item{
	padding: 0px 2em;	
}

.navbar{
	background-color: #77222d!important;
}

.navbar > a{
	color: white !important;
}

.nav-item > a{
	color: white !important;
}