{% extends '@EasyAdmin/default/edit.html.twig' %}

{% block content_title %}
        {# ... customize the content title ... #}
    {% trans_default_domain "CoreBundle" %}
    <div class="row">
    	<div class="text-center">
    
            <h1>Image</h1>
            {% if form.vars.value.image %}
            	<a href="#" class="easyadmin-thumbnail" data-featherlight="#easyadmin-lightbox-{{ form.vars.value.id }}" data-featherlight-close-on-click="anywhere">
                	<img src="{{ vich_uploader_asset(form.vars.value,'imageFile') }}" style="width: 150px;height:150px;">
            	</a>
            {% endif %}
            <form id="dropzone-easyadmin-alone" action="{{ path('art_image_upload', { 'id': form.vars.value.id }) }}" class="dropzone" method="post" enctype="multipart/form-data">
                  <div class="dz-message" data-dz-message><span>{{ 'dropzone.upload.message'|trans({},'admin') }}</span></div>
                  <div class="fallback">
                    <input name="file" type="file" multiple />
                  </div>
            </form>
        </div>
    </div>
{% endblock %}